///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* pages/admin */
///

@use "../base" as *;

.layout-admin {
    background: var(--site-color);
    min-height: 100dvh;
    position: fixed;
}
.content-admin {
    border: 1px solid white;
    left: #{$sidebar-width};
    height: 100dvh;
    min-height: 100dvh;
    overflow-y: scroll;
    padding: 20px 0px;
    position: fixed;
    top: #{$header-height};
    width: calc(100vw - #{$sidebar-width});
}


