///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Cards */
///

@use '../base/variables' as *;

.card{

    border-radius: 10px;
    // border: var(--border-light);
    box-shadow: var(--box-shadow);

    .card-title{
        color: var(--text-light);
    }

}
