///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* pages/admin */
///

@use '../base/variables' as *;

.footer{
    background-color: var(--bg-color);
    bottom: 0;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: absolute;
    width: 100%;
    .footer-bottom{
        align-items: center;
        color: var(--site-color);
        font-size: smaller;
        display: flex;

        justify-content: center;
    }
}
