///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* pages/admin */
///

.footer{
    // background: var(--site-color);
    align-items: center;
    color: var(--title-color);
    display: flex;
    height: 100px;
    justify-content: center;
}
