///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Header */
///

@use "../base" as *;

.header {
    // background-color: var(--site-color);
    display: flex;
    height: $header-height;
    justify-content: space-between;
    padding: 10px 30px;

    &.store-header {
        background-color: var(--site-color);
    }

    &.admin-header {
        background-color: var(--site-color);
        box-shadow: var(--box-shadow);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;

    }
}
