///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Avatar */
///


.page-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bs-border-color);
}

.page-header h1 {
    margin: 0;
}
