///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Avatar */
///


.page-header {
    padding-bottom: 1rem;
    border-bottom: var(--border-light);
    .page-title{
        color: var(--text-light);
        margin: 0;
        text-shadow: var(--text-shadow);

    }
    .description-page{
        color: var(--text-light);
        font-weight: bolder;
    }
}

