///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Sidebar */
///

@use "../base" as *;

.sidebar {
    border-right: .25px solid #dbdbdbf8;
    height: calc(100dvh - #{$header-height});
    height:100dvh;
    flex-shrink: 0;
    overflow-y: auto;
    width: $sidebar-width;

    .menu {
        min-width: 150px;

        .menu-list {
            padding-left: 30px;
            .menu-item {
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                transition: .3s;

                .menu-link {
                    // color: var(--text-light);
                    color: black;
                    // font-family: 'ArchivoBlack', sans-serif;
                    // font-size: 25px;
                    transition: .3s;

                    // text-shadow:
                    //     1px 1px 0 #999,
                    //     2px 2px 0 #999,
                    //     3px 3px 0 #999,
                    //     4px 4px 0 #999,
                    //     5px 5px 0 #999,
                    //     6px 6px 8px #0000001f;

                }




                &:hover {
                    .menu-link {
                        transform: scale(1.05);
                        margin-left: 1px;


                    }
                }
            }
        }
    }
}
