///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Table */
///

.table-image {
    height: 60px;
    width: 60px;
}

.table-container {
    max-height: 60vh;

    thead {
        th {
            color: red;
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }

}

.clickable-row {
    cursor: pointer;
}
