///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Table */
///

@use '../base/variables' as *;

.table-container {
    flex: 1;

    min-height: 0;

    overflow: auto;

    .table {
        --bs-table-hover-bg: #{$bg-color};
    }

    thead {
        th {
            background: var(--site-color);
            color: var(--light-color);
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }

}

.clickable-row {
    cursor: pointer;
}
