///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Table */
///

table {
    width: 100%;
    th {
        color: var(--title-color);
        text-align: center;
    }

    tbody {
        tr {
            transition: .3s;

            &:hover {
                background: var(--accent-color);
            }
            td {
                color: var(--main-text);

                // text-align: center;
                &[data-field="center"] {
                    text-align: center;
                }

            }
        }
    }

}
