///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Header */
///

@use "../base" as *;

.header{
    height: $header-height;
    // background-color: var(--site-color);
    display: flex;
    left: 0;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

