///
///
///@author Franklin Klyk
///
///@email frsbatist@gmail.com
///
///https://github.com/franklyk
///
///
/// /* Header */
///

@use "../base" as *;

.header{
    height: $header-height;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

}

.store-header{
    background-color: var(--site-color);
}

.admin.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

}

